
.INP{
height: Hug (36px)px;
padding: 10px 12px 10px 12px;
gap: 0px;
border-radius: 8px ;
border:solid 1px #ECECEC;
margin-top: 1rem;
opacity: 0px;
width: 100%;
}
.INP:focus {
    --tw-ring-color: none
  }
.inpDiv{
  display: flex;
  flex-direction: row;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.aye{
  position: absolute;
  top: 50%;
  left: 92%;
  width: 16px;
  height: 16px;
cursor: pointer;
}


